# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

*.zip
*.suo

Engine/Sound/cricket-1.4.2/doc/
Engine/Sound/cricket-1.4.2/src/samples/
Engine/Sound/cricket-1.4.2/bin/
Engine/Sound/cricket-1.4.2/lib/wp8/
Engine/Sound/cricket-1.4.2/lib/android/
Engine/Sound/cricket-1.4.2/build/android/

Temporary/